name: Build & Deploy to Production

on:
  push:
    branches:
      - main
    paths-ignore:
      # 1. Documentation
      - '**.md'

      # 2. Testing & CI/CD
      - 'tests/**'
      - 'playwright.config.ts'
      - '.github/'

      # 3. Editor and General Configuration
      - '.vscode/**'
      - '.editorconfig'
      - '.gitignore'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Set Build ENV variable
        run: echo "VITE_BUILD_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV

      - name: Build
        run: npm run build

      - name: Deploy to Firebase live channel
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_TRITRACKS_D0F05 }}
          projectId: tritracks-d0f05
          channelId: live
